[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
django = "*"
django-allauth = "*"
django-environ = "*"
pyyaml = "*"
django-markdown-deux = "*"
django-markdown2 = "*"
flake8 = "*"
gunicorn = "*"
pytest = "*"
twine = "*"
django-lukepafford-blog = "*"
pygments = "*"

[requires]
python_version = "3.7"
